{% extends "base.html" %}

{% block title %}Projects - Stephane Atontsa{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Projects</h1>

  <!-- AI Projects -->
  <h3 class="text-primary mt-4">🤖 AI Projects</h3>
  <ul class="list-group mb-4">
    
    <li class="list-group-item">
      <h5>Master thesis</h5>
      <p>This project implements a sentiment analysis model for financial news tweets using the DistilBERT model from the Hugging Face Transformers library. The model classifies tweets into three sentiment categories: Bearish, Bullish, and Neutral.</p>
      <a href="https://github.com/Claude-J94/master_thesis" target="_blank" class="btn btn-sm btn-outline-dark">View on GitHub</a>
    </li>
  </ul>

  <!-- Python Projects -->
  <h3 class="text-success">🐍 Python Projects</h3>
  <ul class="list-group mb-4">
    <li class="list-group-item">
      <h5>Expense Tracker CLI</h5>
      <p>A command-line application to log and summarize expenses using CSV and Python.</p>
      <a href="https://github.com/Claude-J94/Expense-Tracker" target="_blank" class="btn btn-sm btn-outline-dark">View on GitHub</a>
    </li>
    <li class="list-group-item">
      <h5>interactive-sales-dashboard</h5>
      <p>Interactive data dashboard built with Dash and Plotly.</p>
      <a href="https://github.com/Claude-J94/interactive-sales-dashboard" target="_blank" class="btn btn-sm btn-outline-dark">View on GitHub</a>
    </li>
    <li class="list-group-item">
      <h5>Sales-Data-Analysis-Project</h5>
      <p>Interactive data dashboard built with Dash and Plotly.</p>
      <a href="https://github.com/Claude-J94/Sales-Data-Analysis-Project" target="_blank" class="btn btn-sm btn-outline-dark">View on GitHub</a>
    </li>
  </ul>

 

  <!-- Web Apps -->
  <h3 class="text-info">🌐 Web Apps</h3>
  <ul class="list-group mb-4">
    <li class="list-group-item">
      <h5>Portfolio Website</h5>
      <p>This Website ! A personal portfolio built with Flask and Bootstrap.</p>
      <a href="https://github.com/your-username/portfolio-website" target="_blank" class="btn btn-sm btn-outline-dark">View on GitHub</a>
    </li>
    
  </ul>

</div>
{% endblock %}
